* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app{
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm{
  background-image: url('./assets/warm-bg.jpg');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75) );
  padding: 25px;
}

.search-box{
  width: 50%;
  margin-top: 4em;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5em;




}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;

  color: #606060;
  font-size: 20px;

  transition: 0.4s ease;

}

.search-box .search-bar:focus{
  background-color: rgba(255,255,255,0.65);

}

.location-box .location{
  color: #fff;
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);

}

.location-box .date{
  margin-top: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);

}

.weather-box{
text-align: center
}
.weather-box .temp {
position: relative;
display: inline-block;
margin: 30px auto;
background-color: rgba(255,255,255,0.35);

padding: 15px 25px;
color: white;

font-size: 102px;
font-weight: 700;


text-align: center;
border-radius: 20px;

}

.weather-box .weather {
color:#FFF;
font-size: 48px;
font-weight: 700;

}
